<ion-content [fullscreen]="true">
  <ion-header [translucent]="false" class="ion-no-border ps-md-5">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="idb os pt-2 mt-1 ion-no-padding ps-md-5">
          <img src="/assets/header/neighblox-logomark.svg" />
        </ion-button>
      </ion-buttons>
      <ion-buttons class="pt-3 pe-md-5" slot="end">
        <ion-button class="il_ oq ion-no-padding">
          <img class="d-block d-md-none" src="/assets/header/medium.svg" />
          <img class="d-none d-md-block" src="/assets/header/icon-medium.434a28bebb2f0c9d044aeefacdc4581d.svg" />
          <p class="ms-2 mt-3 d-none d-md-block">/neighblox</p>
        </ion-button>
        <ion-button class="il_ oq ion-no-padding">
          <img class="d-block d-md-none" src="/assets/header/twitter.svg" />
          <img class="d-none d-md-block" src="/assets/header/icon-twitter.60064340c15ed467638b55b147c32437.svg" />
          <p class="ms-2 mt-3 d-none d-md-block">@neighblox</p>
        </ion-button>
        <ion-button class="il_ oq ion-no-padding">
          <img class="d-block d-md-none" src="/assets/header/discord.svg" />
          <img class="d-none d-md-block" src="/assets/header/icon-discord.5bf7252157af5ddc486c705ada68b983.svg" />
          <p class="ms-2 mt-3 d-none d-md-block">Neighblox</p>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div id="container" class="container-fluid">
    <div class="row">
      <div class="upper-content col-12 col-md-5 mt-md-5">
        <strong class="mt-5 mb-4">The protocol for communities</strong>
        <p class="mt-4 mb-2">Neighblox lets you to securely engage with all of your communities, both physical and digital.</p>

        <div class="buttons-container mt-5 mb-5 col-12">
          <button class="h-btn wp p col me-2" type="button" name="button">Read whitepaper</button>
          <button class="h-btn rm p col ms-2" type="button" name="button">View roadmap</button>
        </div>
      </div>

      <div class="img-block col-md-7">
        <img src="/assets/2374@4x.svg" />
      </div>

      <div class="content-container col-12 mt-5 ps-3 pe-3 ms-md-5 ps-md-5">
        <div class="content-block mb-5 col-12">
          <div class="content-title col-6">
            <h6>Connect with, <font class="bt">your community</font></h6>
          </div>
          <div class="content-body col-12">
            <p>Engage with a vibrant ecosystem of social engagement and commerce right in your vicinity. Realtime convos, activities with membership groups and shop locally with businesses who are also engaging with their community.</p>
          </div>
        </div>
        <div class="content-block col-12">
          <div class="content-title col-6">
            <h6>Keep money in, <font class="bt">the community</font></h6>
          </div>
          <div class="content-body col-12">
            <p class="ps-3 pe-3">When you shop at local businesses on Neighblox, you're paying for goods and services in crypto. When you pay in crypto when shopping locally, you're avoiding the credit card fees and service fees set by banks, payment processing companies and apps.</p>
          </div>
        </div>
      </div>

      <div class="blurbs-container col-12 col-md-7 mt-5 ps-0 pe-0 ps-md-5">
        <div class="blurb col-6 mb-5">
          <div class="ico dec mx-auto mb-2">
            <img src="/assets/body/dec.svg" />
          </div>
          <p class="ps-2 pe-2">User accounts identified by randomized hexadecimal numbers; personal info never requested</p>
        </div>
        <div class="blurb col-6 mb-5">
          <div class="ico dec mx-auto">
            <img src="/assets/body/dsc.svg" />
          </div>
          <p class="ps-2 pe-2">Get in the convo with either other folks in your vicinity or the user-created DAO that you're a memeber of</p>
        </div>
        <div class="blurb col-6 mb-5">
          <div class="ico sl mx-auto">
            <img src="/assets/body/ob.svg" />
          </div>
          <p class="ps-2 pe-2">Shop local first; you can support your community before buying from global operations</p>
        </div>
        <div class="blurb col-6 mb-5">
          <div class="ico sl mx-auto">
            <img src="/assets/body/Neighblox Token.svg" />
          </div>
          <p class="ps-2 pe-2">Use a secure, decentralized, crypto for transactions. No credit card fees, no service fees, no expirations dates, security codes, etc. Just seamless transactions btwn A & B.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
